<h2>Clientes</h2>
<%= link_to 'Novo', new_cliente_path, :class => 'novo' %>

<%=form_tag clientes_path, :method => 'get' do %>
    <fieldset>
        <legend>Pesquisa</legend>
            Nome: <%=search_field(:cliente, :nome)%>
            Endereco: <%=search_field(:cliente, :endereco)%>
            RG: <%=search_field(:cliente, :rg)%>
            CPF: <%=search_field(:cliente, :cpf)%>
            Irregular <%=search_field(:cliente, :irregular)%>
            <%= submit_tag 'Pesquisar' %>
    </fieldset>
    
    <div id='div_lista'>
        <%= render 'lista'%>    
    </div>
<%end%>

<%= will_paginate @clientes %>