<h2>Locações</h2>

<%= link_to 'Encerrar', :encerrar, :class => 'encerrar' %>

<%= link_to 'Novo', new_locacao_path, :class => 'novo' %>

<%=form_tag locacoes_path, :method => 'get' do %>
    <fieldset>
        <legend>Pesquisa</legend>
            Cliente: <%= collection_select(:locacao, :cliente_id, Cliente.all, :id, :nome, {:prompt => true}) %>
            Funcionario: <%= collection_select(:locacao, :funcionario_id, Funcionario.all, :id, :nome, {:prompt => true}) %>

            <%= submit_tag 'Pesquisar' %>
    </fieldset>
    
    <div id='div_lista'>
        <%= render 'lista'%>    
    </div>
<%end%>

<%= will_paginate @mesas %>
