<h2>Locações</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @locacao.cliente.nome %>
</p>

<p>
  <b>Funcionario:</b>
  <%= @locacao.funcionario.nome %>
</p>

<p>
  <b>Mesa:</b>
  <%= @locacao.mesa.tipo_mesa.tipo %>
</p>

<p>
  <b>Valor ficha:</b>
  <%= @locacao.valor_ficha.preco %>
</p>

<p>
  <b>Data locacao:</b>
  <%= @locacao.data_locacao %>
</p>

<p>
  <b>Lucro:</b>
  <%= @locacao.lucro %>
</p>

<p>
  <b>Encerrada:</b>
  <%= @locacao.encerrada %>
</p>

<p>
  <b>Obs:</b>
  <%= @locacao.obs %>
</p>


<%= link_to 'Editar', edit_locacao_path(@locacao) %> |
<%= link_to 'Voltar', locacoes_path %>
