<%= form_for(@relogio) do |f| %>
  <% if @relogio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relogio.errors.count, "message message-error") %> prohibited this relogio from being saved:</h2>

      <ul>
      <% @relogio.errors.full_messages.each do |msg| %>
        <li class="message message-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
