<h2>Relógios</h2>
<%= link_to 'Novo', new_relogio_path, :class => 'novo' %>

<%=form_tag relogios_path, :method => 'get' do %>
    <fieldset>
        <legend>Pesquisa</legend>
            Número: <%=search_field(:relogio, :numero)%>
             
            <%= submit_tag 'Pesquisar' %>
    </fieldset>
    
    <div id='div_lista'>
        <%= render 'lista'%>    
    </div>
<%end%>

<%= will_paginate @relogios %>
