<h2>Mesas</h2>
<%= link_to 'Novo', new_mesa_path, :class => 'novo'%>

<%=form_tag mesas_path, :method => 'get' do %>
    <fieldset>
        <legend>Pesquisa</legend>
            Relógio: <%= collection_select(:mesa, :relogio_id, Relogio.all, :id, :numero, {:prompt => true}) %>
            Tipo de Mesa: <%= collection_select(:tipo_mesa, :tipo_mesa_id, TipoMesa.all, :id, :tipo, {:prompt => true}) %>
            Data de Cadastro: <%=search_field(:mesa, :data_cadastro)%>
            Mesa Inativa: <%=check_box_tag(:inativa)%>

            <%= submit_tag 'Pesquisar' %>
    </fieldset>
    
    <div id='div_lista'>
        <%= render 'lista'%>    
    </div>
<%end%>

<%= will_paginate @mesas %>



