<h2>Mesas</h2>
<%= link_to 'Nova Mesa', new_mesa_path, :class => 'link-button'%>
<table>
<thead>    
  <tr>
    <th>Relógio</th>
    <th>Tipo de mesa</th>
    <th>Data de cadastro</th>
    <th>Mesa inativa</th>
    <th>Motivo inatividade</th>
    <th>Observações</th>
    <th></th>
  </tr>
</thead>  
<tfoot></tfoot>
<tbody>
    <% @mesas.each do |mesa| %>
      <tr>
        <td><%= mesa.relogio.numero %></td>
        <td><%= mesa.id_tipomesa %></td>
        <td><%= mesa.created_at %></td>
        <td><%= mesa.mesa_inativa %></td>
        <td><%= mesa.motivo_inatividade %></td>
        <td><%= mesa.obs %></td>
        <td>
            <%= link_to 'Mostrar', mesa %>
            <%= link_to 'Editar', edit_mesa_path(mesa) %>
            <%= link_to 'Excluir', mesa, confirm: 'Confirma exclusão?', method: :delete %>
        </td>
      </tr>
    <% end %>
</tbody>
</table>




