<h1>Listagem de mesas</h1>

<table>
  <tr>
    <th>Relógio</th>
    <th>Tipo de mesa</th>
    <th>Data de cadastro</th>
    <th>Mesa inativa</th>
    <th>Motivo inatividade</th>
    <th>Observações</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mesas.each do |mesa| %>
  <tr>
    <td><%= mesa.id_relogio %></td>
    <td><%= mesa.id_tipomesa %></td>
    <td><%= mesa.created_at %></td>
    <td><%= mesa.mesa_inativa %></td>
    <td><%= mesa.motivo_inatividade %></td>
    <td><%= mesa.obs %></td>
    <td><%= link_to 'Mostrar', mesa %></td>
    <td><%= link_to 'Editar', edit_mesa_path(mesa) %></td>
    <td><%= link_to 'Excluir', mesa, confirm: 'Confirma exclusão?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Mesa', new_mesa_path %>
