<h2>Cargos</h2>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>

<% @cargos.each do |cargo| %>
  <tr>
    <td><%= cargo.nome %></td>
    <td>
    	<%= link_to 'Mostrar', cargo %>
    	<%= link_to 'Editar', edit_cargo_path(cargo) %>
    	<%= link_to 'Excluir', cargo, confirm: 'Confirma exclusão?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cargo', new_cargo_path %>
