<h2>Tipos de mesas</h2>
<%= link_to 'Novo Tipo Mesa', new_tipo_mesa_path, :class => 'link-button' %>
<%=form_tag tipo_mesas_path, :method => 'get' do %>
    <fieldset>
        <legend>Pesquisa</legend>
            Tipo: <%=search_field(:tipo_mesa, :tipo)%> 
            <%= submit_tag 'Pesquisar' %>
    </fieldset>
    
    <div id='div_lista'>
        <%= render 'lista'%>    
    </div>
<%end%>

<%= will_paginate @tipo_mesas %>