<h1>Listing tipo_mesas</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Obs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_mesas.each do |tipo_mesa| %>
  <tr>
    <td><%= tipo_mesa.tipo %></td>
    <td><%= tipo_mesa.obs %></td>
    <td><%= link_to 'Show', tipo_mesa %></td>
    <td><%= link_to 'Edit', edit_tipo_mesa_path(tipo_mesa) %></td>
    <td><%= link_to 'Destroy', tipo_mesa, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo mesa', new_tipo_mesa_path %>
