<h2>Tipos de mesas</h2>
<%= link_to 'Novo Tipo mesa', new_tipo_mesa_path, :class => 'link-button' %>
<table>
	<thead>
	  <tr>
	    <th>Tipo</th>
	    <th></th>
	  </tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
		<% @tipo_mesas.each do |tipo_mesa| %>
		  <tr>
		    <td><%= tipo_mesa.tipo %></td>
		    <td>
		    	<%= link_to 'Show', tipo_mesa %>
		    	<%= link_to 'Edit', edit_tipo_mesa_path(tipo_mesa) %>
		    	<%= link_to 'Destroy', tipo_mesa, confirm: 'Are you sure?', method: :delete %>
		    </td>
		  </tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @tipo_mesas %>