<table>
	<thead>	
	  <tr>
	    <th>Descricao</th>
	    <th>Preco</th>
	    <th></th>
	  </tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
		<% @valor_fichas.each do |valor_ficha| %>
		  <tr>
		    <td><%= valor_ficha.descricao %></td>
		    <td><%= valor_ficha.preco %></td>
		    <td>
		    	<%= link_to 'Mostrar', valor_ficha, :class => 'mostrar' %>
		    	<%= link_to 'Editar', edit_valor_ficha_path(valor_ficha), :class => 'editar' %>
		    	<%= link_to 'Excluir', valor_ficha, :class => 'excluir', confirm: 'Confirma exclusão?', method: :delete %>
		    </td>
		  </tr>
		<% end %>
	</tbody>
</table>