<h2>Valor das fichas</h2>
<%= link_to 'Novo', new_valor_ficha_path, :class => 'novo' %>
<%=form_tag valor_fichas_path, :method => 'get' do %>
    <fieldset>
        <legend>Pesquisa</legend>
            Descricao: <%=search_field(:valor_ficha, :descricao)%>
            Preço: <%=search_field(:valor_ficha, :preco)%>
            <%= submit_tag 'Pesquisar' %>
    </fieldset>
    
    <div id='div_lista'>
        <%= render 'lista'%>    
    </div>
<%end%>


