<h2>Rotas</h2>

<%= link_to 'Novo', new_rotum_path, :class => 'novo' %>

<%=form_tag rota_path, :method => 'get' do %>
    <fieldset>
        <legend>Pesquisa</legend>
            Rota: <%=search_field(:rota, :nome)%>
             
            <%= submit_tag 'Pesquisar' %>
    </fieldset>
    
    <div id='div_lista'>
        <%= render 'lista'%>    
    </div>
<%end%>

<%= will_paginate @rotas %>


