<h2>Rotas</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Rota:</b>
  <%= @rotum.rota %>
</p>

<p>
  <b>Ativo:</b>
  <%= @rotum.ativo %>
</p>


<%= link_to 'Editar', edit_rotum_path(@rotum) %> |
<%= link_to 'Voltar', rota_path %>
