<p id="notice"><%= notice %></p>

<p>
  <b>Rota:</b>
  <%= @rotum.rota %>
</p>

<p>
  <b>Ativo:</b>
  <%= @rotum.ativo %>
</p>


<%= link_to 'Edit', edit_rotum_path(@rotum) %> |
<%= link_to 'Back', rota_path %>
