<h2>Rotas</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Rota:</b>
  <%= @rota.nome %>
</p>

<p>
  <b>Ativo:</b>
  <%= @rota.ativo %>
</p>


<%= link_to 'Editar', edit_rotum_path(@rota) %> |
<%= link_to 'Voltar', rota_path %>
