<%= form_for(@funcionario) do |f| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rota %><br />
    <%= f.collection_select(:id_rota_cobranca, Rotum.order(:rota),
        :id, :rota, {:prompt => true}) %>
  </div>
  <div class="field">
    <%= f.label :cargo %><br />
    <%= f.collection_select(:id_cargo, Cargo.order(:nome),
        :id, :nome, {:prompt => true}) %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :rg %><br />
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :orgao_expedidor %><br />
    <%= f.text_field :orgao_expedidor %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :percentual_gratificacao %><br />
    <%= f.text_field :percentual_gratificacao %>
  </div>
  <div class="field">
    <%= f.label :inativo %><br />
    <%= f.check_box :inativo %>
  </div>
  <div class="field">
    <%= f.label :motivo_inatividade %><br />
    <%= f.text_area :motivo_inatividade %>
  </div>
  <div class="field">
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
