<h2>Funcionários</h2>
<%= link_to 'Novo', new_funcionario_path, :class => 'novo' %>
<table>
	<thead>
	  <tr>
	    <th>Nome</th>
	    <th>Rota</th>
	    <th>Cargo</th>
	    <th>Percentual gratificacao</th>
	    <th></th>
	  </tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
		<% @funcionarios.each do |funcionario| %>
		  <tr>
		    <td><%= funcionario.nome %></td>
		    <td><%= funcionario.rota.nome %></td>
		    <td><%= funcionario.cargo.nome %></td>
		    <td><%= funcionario.percentual_gratificacao %></td>
		    <td>
		    	<%= link_to 'Mostrar', funcionario, :class => 'mostrar' %>
		    	<%= link_to 'Editar', edit_funcionario_path(funcionario), :class => 'editar' %>
		    	<%= link_to 'Excluir', funcionario, confirm: 'Confirma exclusão?', method: :delete, :class => 'excluir' %>
		    </td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />


