<h2>Funcionários</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @funcionario.nome %>
</p>

<p>
  <b>Rota:</b>
  <%= @funcionario.rota.nome %>
</p>

<p>
  <b>Cargo:</b>
  <%= @funcionario.cargo.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @funcionario.endereco %>
</p>

<p>
  <b>Rg:</b>
  <%= @funcionario.rg %>
</p>

<p>
  <b>Orgao expedidor:</b>
  <%= @funcionario.orgao_expedidor %>
</p>

<p>
  <b>Cpf:</b>
  <%= @funcionario.cpf %>
</p>

<p>
  <b>Percentual gratificacao:</b>
  <%= @funcionario.percentual_gratificacao %>
</p>

<p>
  <b>Inativo:</b>
  <%= @funcionario.inativo %>
</p>

<p>
  <b>Motivo inatividade:</b>
  <%= @funcionario.motivo_inatividade %>
</p>

<p>
  <b>Obs:</b>
  <%= @funcionario.obs %>
</p>


<%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Voltar', funcionarios_path %>
