<div id="nav">
    <ul>
        <li><h1 id="title">Center Games</h1></li>
        <li><a href="#">Atividades</a>
            <ul>
                <li><%= link_to :Locação_de_mesas, mesas_path %></li>
            </ul>
        </li>
        <li><a href="#">Relatórios</a>
            <ul>
               <li> <%= link_to :Relatório_1, mesas_path %> </li>
            </ul>
        </li>
        <li><a href="#">Cadastro</a> 
            <ul>
                <li><%= link_to :Mesas, mesas_path %></li>
                <li><%= link_to :Relógios, relogios_path %></li>
                <li><%= link_to :Tipos_de_mesa, tipo_mesas_path %></li>
                <li><%= link_to :Cargos, cargos_path %></li>
                <li><%= link_to :Rotas, rota_path %></li>
                <li><%= link_to :Valor_da_ficha, valor_fichas_path %></li>
            </ul>    
        </li>
        <li><a href="#">Administração</a>
            <ul>
                <li><%= link_to :Funcionários, funcionarios_path %></li>
            </ul> 
        </li>
    </ul>
</div>