<div id="nav">
    <ul>
        <li><h1 id="title">Center Games</h1></li>
        <li><a href="#">Atividades</a>
            <ul>
                <li><%= link_to 'Locação de mesas', mesas_path %></li>
            </ul>
        </li>
        <li><a href="#">Relatórios</a>
            <ul>
               <li> <%= link_to 'Relatório 1', mesas_path %> </li>
            </ul>
        </li>
        <li><a href="#">Cadastro</a> 
            <ul>
                <li><%= link_to :Mesas, mesas_path %></li>
                <li><%= link_to :Relógios, relogios_path %></li>
                <li><%= link_to 'Tipos de mesa', tipo_mesas_path %></li>
                <li><%= link_to :Cargos, cargos_path %></li>
                <li><%= link_to :Rotas, rota_path %></li>
                <li><%= link_to 'Valor da ficha', valor_fichas_path %></li>
            </ul>    
        </li>
        <li><a href="#">Administração</a>
            <ul>
                <li><%= link_to :Funcionários, funcionarios_path %></li>
            </ul> 
        </li>
    </ul>
</div>