<nav id="menu">
    <ul>
        <li><%= link_to :Mesas, mesas_path %></li>
        <li><%= link_to :Relógios, relogios_path %></li>
        <li><%= link_to :Tipos_de_mesa, tipo_mesas_path %></li>
        <li><%= link_to :Cargos, cargos_path %></li>
        <li><%= link_to :Funcionários, funcionarios_path %></li>
        <li><%= link_to :Rotas, rota_path %></li>
        <li><%= link_to :Valor_da_ficha, valor_fichas_path %></li>
    </ul>
</nav>